<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.mybatisdemo.dao.userMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.mybatisdemo.domain.user" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="org" property="org" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.doctor.mybatisdemo.domain.user" >
    insert into user (id, display_name, org, 
      status)
    values (#{id,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.doctor.mybatisdemo.domain.user" >
    update user
    set display_name = #{displayName,jdbcType=VARCHAR},
      org = #{org,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, display_name, org, status
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, display_name, org, status
    from user
  </select>
</mapper>